@use "variables" as *;

@font-face {
  font-family: "Moderustic";
  src: url(/fonts/Moderustic/Moderustic-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Chomsky";
  src: url(/fonts/chomsky/Chomsky.otf) format("truetype");
  font-display: swap;
}

* {
  font-size: 18px;
}

html {
  text-align: center;
}

header p, header a {
  font-size: 0.9rem;
}

body, header, footer, button, select {
  color: $dark;
}

a {
  color: $dark;
}

@media (min-width: $tablet) {
  a:hover {
    color: $color1;
    transition: all 0.2s ease-in-out;
  }
}

h1 {
  font-family: "Chomsky", serif;
  margin: 15px 0;
  font-size: 2.5rem;
}

h2 {
  font-family: "Chomsky", serif;
  font-size: 1.9rem;
  margin: 0;
  margin-bottom: -10px;
}

body, button, input, select {
  font-family: "Moderustic", sans-serif;
  font-display: swap;
  font-weight: 500;
  line-height: 1.6;
  text-decoration: none;
}