@use "variables" as *;

@font-face {
  font-family: "Moderustic";
  src: url(/fonts/Moderustic/Moderustic-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Chomsky";
  src: url(/fonts/chomsky/Chomsky.otf) format("truetype");
  font-display: swap;
}

* {
  font-size: 18px;
}

html {
  text-align: center;
}

header a.title {
  text-decoration: none;
  color: inherit;
}

header p, header a {
  font-size: 0.9rem;
  text-wrap: balance;
}

header p.subtitle {
  font-size: 1rem;
}

section p {
  font-size: 0.9rem;
  text-wrap: balance;
}

body, header, footer, button, select {
  color: $dark;
}

a {
  color: $dark;
}

@media (min-width: $tablet) {
  a:hover {
    color: $color1;
    transition: all 0.2s ease-in-out;
  }
}

h1 {
  font-family: "Chomsky", serif;
  margin: 25px 0;
  font-size: 5rem;
  line-height: 1;
}

@media (max-width: $mobile) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-family: "Chomsky", serif;
  font-size: 1.9rem;
  line-height: 1;
  margin: 0;
  margin-top: 15px;
}

body, button, input, select {
  font-family: "Moderustic", sans-serif;
  font-display: swap;
  font-weight: 500;
  line-height: 1.6;
  text-decoration: none;
}