// import all partials
@use 'partials/setup';
@use 'partials/variables' as *;
@use 'partials/typography' as *;

html {
    background: $light;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    gap: 20px;
}

hr {
    color: $color2;
    background-color: $color2;
    border-color: $color2;
}

header, main, footer {
    margin: 0 5vw;
}

.cloud-pic {
    margin: 0 auto;
    padding: 0;
    width: calc(100vw - 40px);
    height: auto;
    object-fit: cover;
    pointer-events: none;
}

section p {
    font-size: 0.9rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
    padding-bottom: 50px;
}