// import all partials
@use 'partials/setup';
@use 'partials/variables' as *;
@use 'partials/typography' as *;

html {
    background: $light;
}

header, footer {
    background: $light;
    padding: 0;
    padding: 0 5vw;
    padding-bottom: 15px;
    margin-bottom: 15px;
    box-shadow: 0 7px 0 0 $color1;
}

footer {
    box-shadow: none;
    border-top: solid 8px $color1;
    margin-bottom: 0;
    padding-top: 15px;
}

body {
    background: $color2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    gap: 20px;
}

header {
    position: fixed;
    width: 100vw;
}

main {
    margin: 0;
    margin-top: 240px;
}

@media (max-width: $mobile) {
    main {
        margin-top: 230px;
    }
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 85vw;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 15px;
}

article {
    background: rgba($light, 0.95);
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 0 7px 0 0 $color1;
    text-decoration: none;
}

@media (min-width: $tablet) {
    article:hover {
        background: $light;
        box-shadow: 0 10px 0 0 $color1;
        transform: translateY(-3px);
        transition: all 0.2s ease-in-out;
    }
}

section a {
    text-decoration: none;
}

section a:hover {
    color: $dark;
}