// import all partials
@use 'partials/setup';
@use 'partials/variables' as *;
@use 'partials/typography' as *;

html {
    background: $black;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    gap: 20px;
}

header, main, footer {
    margin: 0 5vw;
}

.cloud-pic {
    margin: 0 auto;
    padding: 0;
    width: calc(100vw - 40px);
    height: auto;
    object-fit: cover;
    pointer-events: none;
}

footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
    padding-top: 0;
}