// import all partials
@use 'partials/setup';
@use 'partials/variables' as *;
@use 'partials/typography' as *;

html {
    background: $light;
}

header {
    background: $light;
    padding: 0;
    padding: 0 5vw;
    padding-bottom: 25px;
    margin-bottom: 15px;
    box-shadow: 0 7px 0 0 $color1;
}

body {
    background: $color2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    gap: 20px;
    padding-bottom: 5px;
}

main {
    box-shadow: 0 7px 0 0 $color1;
    margin: 0;
}

section {
    width: 90vw;
    max-width: 750px;
    margin: 0 auto;
}

article {
    background: $light;
    width: 100%;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 7px;
    box-shadow: 0 7px 0 0 $color1;
    margin-bottom: 25px;
    text-decoration: none;
}

@media (min-width: $tablet) {
    article:hover {
        box-shadow: 0 10px 0 0 $color1;
        transform: translateY(-3px);
        transition: all 0.2s ease-in-out;
    }
}

section a {
    text-decoration: none;
}

section a:hover {
    color: $dark;
}

section p {
    font-size: 0.9rem;
}