html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Moderustic";
  src: url(/fonts/Moderustic/Moderustic-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Chomsky";
  src: url(/fonts/chomsky/Chomsky.otf) format("truetype");
  font-display: swap;
}
* {
  font-size: 18px;
}

html {
  text-align: center;
}

header p, header a {
  font-size: 0.9rem;
  text-wrap: balance;
}

header p.subtitle {
  font-size: 1rem;
}

section p {
  font-size: 0.9rem;
  text-wrap: balance;
}

body, header, footer, button, select {
  color: #2c282c;
}

a {
  color: #2c282c;
}

@media (min-width: 970px) {
  a:hover {
    color: #823dc4;
    transition: all 0.2s ease-in-out;
  }
}
h1 {
  font-family: "Chomsky", serif;
  margin: 25px 0;
  font-size: 5rem;
  line-height: 1;
}

@media (max-width: 768px) {
  h1 {
    font-size: 14vw;
  }
}
h2 {
  font-family: "Chomsky", serif;
  font-size: 1.9rem;
  line-height: 1;
  margin: 0;
  margin-top: 15px;
}

body, button, input, select {
  font-family: "Moderustic", sans-serif;
  font-display: swap;
  font-weight: 500;
  line-height: 1.6;
  text-decoration: none;
}

html {
  background: #e6e6e6;
}

header {
  background: #e6e6e6;
  padding: 0;
  padding: 0 5vw;
  padding-bottom: 15px;
  margin-bottom: 15px;
  box-shadow: 0 7px 0 0 #823dc4;
}

body {
  background: #aa7ef8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  gap: 20px;
  padding-bottom: 5px;
}

main {
  box-shadow: 0 7px 0 0 #823dc4;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 85vw;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

article {
  background: rgba(230, 230, 230, 0.95);
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 7px;
  box-shadow: 0 7px 0 0 #823dc4;
  text-decoration: none;
}

@media (min-width: 970px) {
  article:hover {
    background: #e6e6e6;
    box-shadow: 0 10px 0 0 #823dc4;
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out;
  }
}
section a {
  text-decoration: none;
}

section a:hover {
  color: #2c282c;
}